<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1>About</h1>
      <p>This is a website selling skincare from around the world, but shipping from Berlin - no customs fees!</p>
      <%= image_tag "about.jpg", class: "img-responsive" %>
    </div>
  </div>
</div>
