<h1>About</h1>
<p>This is a website selling skincare from around the world, but shipping from Berlin - no customs fees!</p>
<div class="container">
  <%= image_tag "about.jpg", class: "img-fluid" %>
</div>
