<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1>Contact</h1>
    </div>
    <div class="col-12">
      <p>Send us an email at hello@berlinskin.com</p>
      <p>Call us on 030 12345678</p>
    </div>
  </div>
</div>
