<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1>Welcome to Berlin Skin</h1>
      <h3>Your one-stop skincare shop</h3>
      <%= image_tag "home.jpg", class: "img-responsive" %>
    </div>
  </div>
</div>
<div class="footer-padding">
</div>
