<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1>Welcome to Berlin Skin</h1>
    </div>
    <div class="col-12">
      <h2>Your one-stop skincare shop</h2>
    </div>
  </div>
</div>
<%# this is how you comment out ERB in HTML %>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <%= image_tag "home.jpg", class: "img-responsive" %>
    </div>
  </div>
</div>
