<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1>Welcome to Berlin Skin</h1>
      <h2>Your one-stop skincare shop</h2>
      <%= image_tag "home.jpg", class: "img-responsive" %>
    </div>
  </div>
</div>
