<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>Thank you for your message.<br>We'll get back to you ASAP.</h1>
        </div><!-- / panel-body -->
      </div><!-- / panel -->
    </div>
  </div>
</div>
