// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body {
   margin: 0;
   height: 100%;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: rgba(223, 163, 64, 1);
}

h1 {
  font-size: 3em;
  color: #000;
  padding-top: 50px;
}

h2 {
  font-size: 2.5em;
  color: rgba(223, 163, 64, 1);
  padding-top: 10px;
  font-weight: 700;
}

h2 a:visited {
  color: rgba(223, 163, 64, 1);
}

h3 {
  color: #fff;
}

p {

}

@media (max-width:762px){
  h1 {
    padding-top: 50px;
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.8em;
  }
  #search-bar {
    padding-top: 5px;
  }
}

.product-partial,
.single-product {
  background-color: #fff;
  border-radius: 25px;
}

.product-partial {
  margin: 5px;
}

.single-product {
  margin-top: 70px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.img-fluid {
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-grid {
  color: #000;
  padding: 10px;
}

.product-info {
  font-size: 1.2em;
}

.edit {
  font-size: 0.8em;
}

.new-product {
  float: right;
  margin: 0px 30px 30px 0px;
}

.review {
  border-style: solid;
  border-color: rgba(223, 163, 64, 1);
  border-radius: 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.new-product a,
.new-product a:visited {
  text-decoration: none;
  color: #fff;
}

p a,
p a:visited,
.product-grid a {
  text-decoration: none;
  color: #000;
}

.new-product a:hover,
p a:hover,
.product-grid a:hover {
  background-color: transparent;
  color: rgba(223, 163, 64, 1);
}

.form-label,
.form-control {
  text-align: center;
  font-size: 1.5em;
}

.product-reviews {
  padding-top: 10px;
}

.user-reviews,
.rated {
  padding-bottom: 5px;
}

.pagination {
  text-align: center;
  padding: 1em;
  display: inline-block;
}
.pagination a, .pagination span {
  padding: 0.5em;
}
.pagination .disabled {
  color: #aaaaaa;
}
.pagination .current {
  color: rgba(223, 163, 64, 1);
  font-weight: 900;
}
.pagination a:hover {
  text-decoration: none;
  color: rgba(223, 163, 64, 1);
}
