<div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
  <h1>Editing Product</h1>

  <%= render 'form', product: @product %>

  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>

</div>
