<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1>Products</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row product-grid text-center">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>
</div>

<br>

<div class="new-product btn btn-outline-secondary">
  <%= link_to 'New Product', new_product_path %>
</div>
